<section id="about" class="text-start">
    <div class="about-container">
        <div class="about-image">
            <img src="/assets/profile.jpg" alt="Pablo Cerezo">
        </div>
        <div class="about-text">
            <h2>Sobre mí</h2>
            <p>Mi nombre es Pablo Cerezo y soy desarrollador de software, formado en la Universidad de Granada en el grado de Ingeniería Informática especializado en desarrollo web.</p>
            <p><strong>Experiencia:</strong> Trabajo con tecnologías como Spring Boot, HTML5, CSS3, JavaScript, Hibernate y bases de datos SQL entre otras.</p>
            <p><strong>Pasión:</strong> Me encanta el aprendizaje autodidacta, he realizado (y continúo realizando) proyectos por mi cuenta donde aprovecho para explorar nuevas tecnologías y mejorar mis habilidades.</p>
        </div>
    </div>
</section>