<section id="about" class="text-start">
    <h2 class="mt-5" class="text-center">Sobre mí</h2>
    <p>Mi nombre es Pablo Cerezo y nací en Granada en 1997. El mundo de los ordenadores y de los videojuegos me atrajo desde bien pequeño, 
        me llamaba especialmente la atención cómo año tras año éstos evolucionaban incluyendo las páginas web y sus diseños.</p>
    <p>Estudié ingeniería informática en la universidad de Granada y me especialicé en el desarrollo de aplicaciones web. 
        Desde mi graduación en 2021 trabajo en el sector de la consultoría, pero no he dejado de aprender de forma autodidacta nuevas herramientas y frameworks 
        para estar al día en el mundo del desarrollo web</p>
</section>