<div class="separator-gradient"></div>
<section id="projects">
    <h2 class="mt-5">Mis proyectos</h2>
    <!--<div class="project-grid"> -->
    <div class="card-group">
        @for (project of projects; track $index) {
            <!--
            <div class="project-card">
                <h3>{{ project.title }}</h3>
                <p>{{ project.body }}</p>
            </div>
            <!---->
            <div class="card">
                <img src="{{project.images[0].image_url}}" class="card-img-top imagen-portada" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.short_description }}</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <a class="btn btn-secondary" routerLink="/proyecto/{{project.id}}">Más info</a>
                </div>
            </div>
        }
    </div>
</section>