#projects {
    margin-top: 80px !important;
    padding: 50px 20px;
    max-width: 1000px;
    margin: auto;
    /*background: url('/assets/projects/projectsBG.png') no-repeat center center;
    background-size: cover;*/
}

.card-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
}

.project-card {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.project-card h3 {
    margin-bottom: 10px;
}

.project-card p {
    margin-bottom: 10px;
}

.imagen-portada {
    height: 500px !important;
    width: auto !important;
    object-fit: contain !important;
}
  
/* Estilos para los diferentes estados del proyecto */
.estado-en-analisis {
    background-color: #f0f0f0;
    color: #000;
    font-weight: bold;
}

.estado-en-diseno {
    background-color: #d1e7dd;
    color: #0f5132;
    font-weight: bold;
}

.estado-en-desarrollo {
    background-color: #cff4fc;
    color: #055160;
    font-weight: bold;
}

.estado-en-desarrollo-avanzado {
    background-color: #fff3cd;
    color: #664d03;
    font-weight: bold;
}

.estado-en-pruebas {
    background-color: #f8d7da;
    color: #842029;
    font-weight: bold;
}

.estado-en-entrega {
    background-color: #e2e3e5;
    color: #41464b;
    font-weight: bold;
}

.estado-finalizado {
    background-color: #d4edda;
    color: #155724;
    font-weight: bold;
}