#projects {
    margin-top: 80px !important;
    padding: 50px 20px;
    max-width: 1100px;
    margin: auto;
}

.card-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
}

.card {
    border-style: ridge;
    border-width: 0.5px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.card img {
    height: 250px;
    object-fit: cover;
    border-bottom: 5px solid ;
}

.card-body {
    padding: 20px;
    background: #fff;
    text-align: center;
}

.card-body h5 {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.card-body p {
    font-size: 1em;
    color: #555;
}

.card-body .btn {
    background: #0055d3;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s;
}

.card-body .btn:hover {
    background: #003ea8;
}

/* Estilos para los diferentes estados del proyecto */
.estado-en-analisis {
    background-color: #f0f0f0;
    color: #000;
    font-weight: bold;
}

.estado-en-diseno {
    background-color: #d1e7dd;
    color: #0f5132;
    font-weight: bold;
}

.estado-en-desarrollo {
    background-color: #cff4fc;
    color: #055160;
    font-weight: bold;
}

.estado-en-desarrollo-avanzado {
    background-color: #fff3cd;
    color: #664d03;
    font-weight: bold;
}

.estado-en-pruebas {
    background-color: #f8d7da;
    color: #842029;
    font-weight: bold;
}

.estado-en-entrega {
    background-color: #e2e3e5;
    color: #41464b;
    font-weight: bold;
}

.estado-finalizado {
    background-color: #d4edda;
    color: #155724;
    font-weight: bold;
}