<div class="container mt-5">

  <!-- Botón de ir hacia atrás -->
  <div class="row mb-3">
    <div class="col-12">
      <button class="btn btn-secondary" (click)="goBack()">Volver</button>
    </div>
  </div>

  <!-- Título principal con decoraciones -->
  <div class="text-center mb-5 mt-10">
    <h1 class="display-4 fw-bold section-header">{{projectDetail.title}}</h1>
  </div>

  <!-- Imagen de Portada -->
  <div class="row mb-5">
    <div class="col-12 d-flex justify-content-center">
      @if (getImagenPortada()?.image_url) {
        <img src={{getImagenPortada()?.image_url}} class="img-fluid w-100 rounded shadow-sm portada" alt="Imagen de portada">
      } @else {
        <img src="https://placehold.co/1200x400?font=roboto" class="img-fluid w-100 rounded shadow-sm portada" alt="Imagen de portada">
      }
    </div>
  </div>

  <!-- Descripción completa con estilo mejorado -->
   <div id="descripcion_proyecto" class="mb-5 shadow-sm p-4 bg-light rounded">
    <h2 class="h4 section-subheader">Descripción completa</h2>
    @for (parrafo of contenidoArray; track $index) {
      @if (projectDetail.images[$index] && $index > 0) {
        @if ($index % 2 == 0) {
          <div class="row mb-5">
            <div class="col-md-6">
              <p class="lead">
                {{parrafo}}
              </p>
            </div>
            <div class="col-auto text-center">
              <img src={{projectDetail.images[$index].image_url}} class="rounded shadow-sm" height="auto" width="300px" alt="Ejemplo Visual">
            </div>
          </div>
        } @else {
          <div class="row mb-5">
            <div class="col-auto text-center">
              <img src={{projectDetail.images[$index].image_url}} class="rounded shadow-sm" height="auto" width="300px" alt="Ejemplo Visual">
            </div>
            <div class="col-md-6">
              <p class="lead">
                {{parrafo}}
              </p>
            </div>
          </div>
        }
      }
      @else {
        <div class="row mb-5">
          <div class="col-md-12">
            <p class="lead">
              {{parrafo}}
            </p>
          </div>
        </div>
      }
    }
  </div>

  <!-- Galería de imágenes -->
  <h2 class="h4 section-subheader">Galería de imágenes</h2>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-theme="dark">
      <div class="carousel-indicators">
        @for (image of projectDetail.images; track $index) {
          <button type="button" (click)="setActiveSlide($index)" data-bs-target="#carouselExampleCaptions" 
            [attr.data-bs-slide-to]="$index" [class.active]="$index === activeIndex" [attr.aria-current]="$index === activeIndex"></button>
        }
      </div>
      <div class="carousel-inner">
        @for (image of projectDetail.images; track $index) {
          <div class="carousel-item {{ $index == 0 ? 'active' : '' }}">
            <img src={{image.image_url}} class="d-block mx-auto img-fluid rounded shadow-sm" alt="{{image.alt_text}}">
            <div class="carousel-caption d-none d-md-block text-center mt-3">
                <h5>{{image.alt_text}}</h5>
            </div>
          </div>
        }
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev" (click)="prevSlide()">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next" (click)="nextSlide()">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
  </div>

  <!-- Tecnologías usadas -->
  <div class="row mt-5 mb-5">
    <div class="col-12">
      <h2 class="h4 section-subheader">Tecnologías Usadas</h2>
      <div class="d-flex flex-wrap mt-3">
        @for (tech of projectDetail.technologies; track $index) {
          <span class="badge m-1 p-2 rounded shadow-sm" [class]="{
            'bg-primary': $index % 7 === 0,
            'bg-secondary': $index % 7 === 1,
            'bg-success': $index % 7 === 2,
            'bg-info': $index % 7 === 3,
            'bg-warning': $index % 7 === 4,
            'bg-danger': $index % 7 === 5,
            'bg-dark': $index % 7 === 6
        }">{{tech.name}}</span>
        }
      </div>
    </div>
  </div>
</div>
